<script setup>
import { ref } from 'vue'
const form = ref({})
const ary = ref([])
let editIndex = null

const onSubmit = () => {
    ary.value.push({ ...form.value })
    clearForm()
}

const editData = (index) => {
    editIndex = index
    form.value = { ...ary.value[index] }
}

const updateData = () => {
    ary.value[editIndex] = form.value
    editIndex = null
    clearForm()
}

const deleteData = (index) => {
    ary.value.splice(index, 1)
}
const clearForm =() =>{
    form.value = {fullName:'',email:'',password:''}
}
</script>


<template>
    <div class="row py-1">
        <div class="col-md-6">
            <div class="formDiv p-5 my-5 ms-3 rounded-5 border shadow-sm bg-info">
                <h4 class="text-center mb-4 text-decoration-underline">SignUp Form</h4>
                <div class="mb-3 mb-2">
                    <label for="username" class="form-label">FullName</label>
                    <input type="text" class="form-control" v-model='form.fullName' />
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Email</label>
                    <input type="email" class="form-control" v-model="form.email">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Password</label>
                    <input type="number" class="form-control" v-model="form.password" />
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary btn-sm my-3" @click="onSubmit"
                        v-if="editIndex == null">Submit</button>
                    <button class="btn btn-primary btn-sm my-3" @click="updateData"
                        v-if="editIndex != null">Update</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-5">
            <div>
                <h4 class="text-center mt-3">Form Table</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in ary" :key="index">
                            <td>{{ item.fullName }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.password }}</td>
                            <td><button class="btn btn-info btn-sm" @click="editData(index)">Edit</button></td>
                            <td><button class="btn btn-info btn-sm" @click="deleteData(index)">delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<style>
.formDiv {
    width: fit-content;
}
</style>
