<script setup>
import { deleteUser, fetchUsers, postUsers, updateUser } from '@/api/services/user';
import Button from '@/components/customButton/Button.vue';
import { ref, onMounted } from 'vue'

const userList = ref([]);
const editingIndex = ref(null);
const editedUser = ref({
  firstName: '',
  lastName: '',
  email: ''
});

onMounted(async () => {
  await fetchUsersFromAPI();
});

const fetchUsersFromAPI = async () => {
  try {
    const fetchedUsers = await fetchUsers();
    userList.value = fetchedUsers.data;
  } catch (error) {
    console.error('Error fetching users:', error);
  }
}

const submitForm = async () => {
  try {
    if (editingIndex.value !== null) {
      await updateUser(userList.value[editingIndex.value]._id, editedUser.value);
      userList.value[editingIndex.value] = editedUser.value;
      editingIndex.value = null;
    } else {
      const newUser = { ...editedUser.value };
      await postUsers(newUser);
      userList.value.push(newUser);
    }
    // Clear the form after submission
    editedUser.value = {
      firstName: '',
      lastName: '',
      email: ''
    };
  } catch (error) {
    console.error('Error submitting form:', error);
  }
};

const cancelUpdate = () => {
  editingIndex.value = null;
  editedUser.value = {
    firstName: '',
    lastName: '',
    email: ''
  };
}
const deleteUsers = async (index) => {
  try {
    const deletedUser = userList.value[index];
    await deleteUser(deletedUser._id);
    userList.value.splice(index, 1);
  } catch (error) {
    console.error('Error deleting user:', error);
  }
};

const editUser = (index) => {
  editingIndex.value = index;
  editedUser.value = { ...userList.value[index] };
};
</script>
<style scoped>
.table th {
  background-color: black;
  color:white
}
.table td {
  background-color: transparent !important;
}
</style>
<template>
  <main>
    <div class="container">
      <div class="row mt-5 rounded overflow-hidden">
        <div class="col-md-6 bg-warning p-2">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" v-model="editedUser.firstName">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" v-model="editedUser.lastName">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" v-model="editedUser.email">
          </div>
          <div class="d-flex gap-2">
            <Button @click="submitForm" btnClass="btn btn-primary">
              {{ editingIndex === null ? 'Add User' : 'Update User' }}
            </Button>
            <template v-if="editingIndex !== null">
              <Button @click="cancelUpdate" btnClass="btn btn-info">
                Cancel
              </Button>
            </template>
          </div>
        </div>
        <div class="col-md-6 bg-info p-2">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user, index) in userList" :key="index">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td class="d-flex gap-2">
                  <button class="btn btn-danger btn-sm" @click="deleteUsers(index)">Delete</button>
                  <button class="btn btn-primary btn-sm" @click="editUser(index)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</template>
