<script setup>
import { ref } from 'vue'
const users = ref([]);
const newUser = ref({ username: '', password: '' });
const editingIndex = ref(null);

const submitForm = async () => {
  try {
    if (editingIndex.value !== null) {
      const updatedUser = { username: newUser.value.username, password: newUser.value.password };
      users.value[editingIndex.value] = updatedUser;
      editingIndex.value = null;
    } else {
      const newUserObj = { username: newUser.value.username, password: newUser.value.password };
      users.value.push(newUserObj);
    }
    newUser.value = { username: '', password: '' };
  } catch (error) {
    console.error('Error submitting form:', error);
  }
};

const deleteUser = (index) => {
  users.value.splice(index, 1);
};

const editUser = (index) => {
  editingIndex.value = index;
  newUser.value = { ...users.value[index] };
};


</script>
<template>
  <main>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-6">
          <div>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" v-model="newUser.username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" v-model="newUser.password">
            </div>
            <button class="btn btn-primary" @click="submitForm">{{ editingIndex === null ? 'Add User' : 'Update User'
              }}</button>
          </div>
        </div>
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user, index) in users" :key="index">
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>
                  <button class="btn btn-danger btn-sm" @click="deleteUser(index)">Delete</button>
                  <button class="btn btn-primary btn-sm" @click="editUser(index)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</template>
