<template>
    <button @click="handleClick" :class="[btnClass, 'button']">
        <slot></slot>
    </button>
</template>

<script>
import './button.css'
export default {
    props: {
        btnClass: {
            type: String,
            default: ""
        }
    },
    methods: {
        handleClick() {
            this.$emit("click");
        }
    }
};
</script>